@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

}

.sidebar1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #1B264F;
    padding: 6px 14px;

}

.sidebar1 .logo_content .logo{
    color: #F7BD00;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.logo_content .logo img{
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 28px;
    font-weight: 400;
}

.sidebar1 #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    transform: translateX(-50%);
}

.sidebar1 ul{
    margin-top: 30px;
}

.sidebar1 ul li{
    list-style: none;
    position: relative;
    margin: 0 5px;
    height: 50px;
    width: 100%;
    line-height: 60px;
}

.sidebar1 ul li input{
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border:none;
    background: #454c64;
    padding-left: 50px;
    font-size: 18px;
    color: #ffffff;
}

.sidebar1 ul li .bx-search{
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    z-index: 1;
    color: #fff;
    font-size: 22px;
}

.sidebar1 ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar1 ul li a:hover{
    color: #1B264F;
    background: #fff;
    height: 50px;
}

.sidebar1 ul li a i{
    line-height: 50px;
    height: 50px;
    margin: 10px;
    min-height: 50px;
    border-radius: 12px;
    text-align: center;
}

.sidebar1 .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 25px;
}

.profile_content .profile .profile_details{
   display: flex;
   align-items: center;
}

.profile .profile_details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 5px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
    font-weight: 400;
}

.profile #log_out{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 88%;
    bottom: 5px;
    min-width: 50px;
    line-height: 75px;
    font-size: 25px;
    transform: translateX(-50%);
}

.profile a{
    text-decoration: none;
    color: #fff;
}

